### t- tset

In [1]:
capt_crisp = data.frame(weight = c(15.5, 16.2, 16.1, 15.8, 15.6, 16.0, 15.8, 15.9, 16.2))

In [3]:
x_bar = mean(capt_crisp$weight)
s     = sd(capt_crisp$weight)
mu_0  = 16
n     = 9

In [4]:
t = (x_bar - mu_0) / (s / sqrt(n))
t

[1] -1.2

In [5]:
pt(t, df = n - 1)

[1] 0.1322336

In [6]:
## one sided
t.test(x = capt_crisp$weight, mu = 16, alternative = c("less"), conf.level = 0.95)

	One Sample t-test

data:  capt_crisp$weight
t = -1.2, df = 8, p-value = 0.1322
alternative hypothesis: true mean is less than 16
95 percent confidence interval:
     -Inf 16.05496
sample estimates:
mean of x
     15.9

In [8]:
#?t.test

In [12]:
#two sided
t.test(x = capt_crisp$weight, mu = 16, alt = "two.sided", conf.level = 0.95)

	One Sample t-test

data:  capt_crisp$weight
t = -1.2, df = 8, p-value = 0.2645
alternative hypothesis: true mean is not equal to 16
95 percent confidence interval:
 15.70783 16.09217
sample estimates:
mean of x
     15.9

In [14]:
## one sample test
T1<-t.test(x = capt_crisp$weight, mu = 16, alt = "two.sided", conf.level = 0.99)

In [15]:
T1

	One Sample t-test

data:  capt_crisp$weight
t = -1.2, df = 8, p-value = 0.2645
alternative hypothesis: true mean is not equal to 16
99 percent confidence interval:
 15.62038 16.17962
sample estimates:
mean of x
     15.9

In [17]:
attributes(T1)

$names
 [1] "statistic"   "parameter"   "p.value"     "conf.int"    "estimate"
 [6] "null.value"  "stderr"      "alternative" "method"      "data.name"

$class
[1] "htest"

In [18]:
T1$p.value

[1] 0.2644671

#### useful resources / videos
An overview of R for statistics / biostatistics <br>
https://www.youtube.com/watch?v=zrXPG1onjiE <br>
https://qcb.ucla.edu/collaboratory-2/workshops/w3-intro-to-r/